# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook cache
.ipynb_checkpoints/

# SQLite Database
*.db

# VS Code settings
.vscode/

# Operating System files
.DS_Store
Thumbs.db